*{
    padding: 0;
    margin: 0;
}
/* INDEX*/
body #Index {
    height: 100%;
}
#Index {
    background-image: url("IMGS/INDEX/(1) TIENES UNA CUENTA_.jpg");
    background-size: cover;
    background-color: white;
    background-position: center; 
    background-repeat: no-repeat;
    height: 120vh; 
    width: 100%;
    padding-top: 5%;
    overflow: hidden;
}


/* HEADER INICIAL*/

.indexheader {
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    padding-top: 2%;
}

.indexheader a {
    text-decoration: none;
    color: #BF1EAB;
    font-weight: bolder;
    font-size: 1.75rem;
}

/* PRINCIPAL INDEX*/

.indexmain {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5.5%;
    font-family: sans-serif;
    padding: 0 2%; 
    max-height: 90vh;
}

.indexmain h1 {
    text-align: center;
    color: #83015E;
    font-size: 1.625rem;
    font-weight: bold;
}

.potencia {
    text-align: center;
    font-size: 1rem;
    color: #B0B0B0;
}

.indexmain button {
    padding-left: 86px;
    padding-right: 86px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login button {
    border-radius: 12px;
    background-color: #BE26A4;
    color: white;
    border-color: #BE26A4;
    border-style: none;
}

.signin button {
    border-radius: 12px;
    background-color: white;
    color: #D7D6D6;
    border-color: #D7D6D6;
    border-style:inset;
    border-style:solid;
}

.expertosLogin p {
    color: #9800AB;
    font-weight: bold;
    font-size: 1rem;
}

.expertosLogin p a {
    text-decoration: none;
    color: #9800AB;
}

.expertosSignin p {
    color: #B0B0B0;
    font-weight: bold;
    font-size: 1rem;
}

.expertosSignin p a {
    color: #BE26A4;
    text-decoration: none;
}

@media (max-width: 768px) {
    .indexmain h1 {
        font-size: 1.375rem; 
    }

    .potencia {
        font-size: 0.875rem; 
    }

    .indexmain {
        padding: 0 5%; 
    }

    .indexmain button {
        padding-left: 60px; 
        padding-right: 60px; 
    }

    .expertosLogin p, .expertosSignin p {
        font-size: 0.875rem; 
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    
}

@media (max-width: 480px) {
    .indexmain h1 {
        font-size: 1.25rem; 
    }

    .potencia {
        font-size: 0.75rem; 
    }

    .indexmain {
        padding: 0 10%; 
    }

    .indexmain button {
        padding-left: 40px; 
        padding-right: 40px; 
    }
}

/* REGISTRO*/
.registroA{
    max-height: fit-content;
}

.company {
    text-decoration: none;
    color: #BF1EAB;
    font-weight: bolder;
    font-size: 1.75rem;
    font-family: sans-serif;
 align-self: center;
  }

  .header2 {
    display: flex;
    justify-content: center;
    position: relative;
  }
 
  .volver {
    position: absolute;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; 
    height: 50px;
    background-color: transparent; 
}

.volver img {
    width: 100%; 
    height: auto;
    cursor: pointer;
}

.pad {
    padding-top: 6.5%;
}
.form {
    background: rgb(107,1,165);
    background: linear-gradient(180deg, rgba(107,1,165,1) 0%, rgba(65,1,110,1) 100%);   
    width: 40%;
    padding-top:2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    font-family: sans-serif;
    color: white;
    margin-top: 3%;
    border-radius: 26px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.form input {
    border-radius: 12px;
    border: none;
    background-color: white;
    height: 30px;
    width: 100%;
    text-align: center;
}
.form h3 {
  font-size: 1.25rem;
  text-align: center;
  padding-top: 2.5%;
}
.continuar{
    border-radius: 12px;
    border: none;
    background-color: #460275;
    opacity: 75%;
    width: 30%;
    height: 30px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.Barra1 {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .form {
        width: 60%; 
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 3%;
    }

    .continuar {
        width: 50%; 
    }

    .company {
        font-size: 1.5rem; 
    }
    
    .volver {
        padding-left: 3%;
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .form {
        width: 80%; 
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 2%;
    }

    .continuar {
        width: 70%; 
        font-size: 1rem; 
    }

    .company {
        font-size: 1.25rem; 
    }

    .volver {
        padding-left: 2%;
        width: 30px; 
        height: 30px;
    }

    .form h3 {
        font-size: 1rem;
        padding-top: 2.5%; 
    }

    .form input {
        height: 25px; 
    }

}

@media (max-height: 800px) {
    .pad {
        padding-top: 3%;
    }
    
    .form {
        margin-top:3%;
        padding-top: 1%;
        padding-bottom: 3%;
    }
}

/* OBJETIVO*/

.objetivo {
    background: rgb(107,1,165);
    background: linear-gradient(180deg, rgba(107,1,165,1) 0%, rgba(65,1,110,1) 100%);   
    text-align: center;
    width: 40%;
    padding: 2.5% 5%;
    font-family: sans-serif;
    color: white;
    margin-top: 2.5%;
    border-radius: 26px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 
}

.obje {
    border-radius: 12px;
    border: none;
    background-color: white;
    width: 100%;
    height: fit-content;
    text-align: center;
    color: #9800AB;
    font-size: 1rem;
    font-weight: bold;
    margin: 2%;
    padding: 1%;
    cursor: pointer;
}

.obje:active {
    background-color: #9800AB;
    color: white;
}

.obje:visited {
    background-color: #9800AB;
    color: white;
}

.continuar {
    border-radius: 12px;
    border: none;
    background-color: #460275;
    opacity: 75%;
    width: 30%;
    height: 30px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
}

.Barra2 {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

@media (max-width: 768px) {
    .objetivo {
        width: 60%;
        padding: 3% 5%;
        margin-top: 3%;
    }

    .obje {
        font-size: 0.9rem;
        padding: 1.5%;
    }

    .continuar {
        width: 40%;
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .objetivo {
        width: 80%;
        padding: 4% 5%;
        margin-top: 3%;
    }

    .obje {
        font-size: 0.85rem;
        padding: 2%;
    }

    .continuar {
        width: 50%;
        font-size: 1rem;
    }
}

/* SABES ALGO*/

.inicial, .examen {
    width: 25%; 
    min-width: 250px; 
    height: 300px; 
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    margin: 5% 2%; 
    font-family: sans-serif;
    text-align: center;
    padding: 2% 5%;
    background-color: white;
    overflow: hidden; 
    box-sizing: border-box; 
}

.inicial img, .examen img {
    max-width: 100%; 
    height: auto; 
    margin: 0 auto; 
}

.inicial h4, .examen h4 {
    font-size: 1rem; 
}

.inicial p, .examen p {
    font-size: 0.9rem; 
}

.nivel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

.nivel a {
    text-decoration: none;
}

.nivel p {
    color: #B0B0B0;
}

.nivel h4 {
    font-size: 1rem;
    color: #9800AB;
    font-weight: bold;
}

.Barra3 {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

@media (max-width: 768px) {
    .inicial, .examen {
        width: 60%;
        min-width: 200px; 
    }

    .inicial h4, .examen h4 {
        font-size: 0.9rem; 
    }

    .inicial p, .examen p {
        font-size: 0.8rem; 
    }
}

@media (max-width: 480px) {
    .inicial, .examen {
        width: 90%;
        min-width: 150px;
    }

    .inicial h4, .examen h4 {
        font-size: 0.8rem; 
    }

    .inicial p, .examen p {
        font-size: 0.7rem; 
    }
}

/* EXAMEN*/

#respuesta{
    font-family: sans-serif;  
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.exam p {
    font-family: sans-serif;
    font-size: 1rem;
    color: #9800AB;  
}
#pregunta{
    font-weight: bold;
    font-size: 1.25rem;
    color: #9800AB;
    font-family: sans-serif;
}
#respuesta li {
    margin-bottom: 10px; 
    cursor: pointer; 
    background-color: white;
    border-radius: 12px;
    width: 60%;
    height: 57px;
    align-content: center;
    text-align: center;
    color: #9800AB;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    list-style: none;
 
}
#respuesta li:hover{
    background-color: #9800AB;
    color: white;
}

.answers button {
    border-radius: 12px;
    border: none;
    background-color: #460275;
    opacity: 75%;
    width: 60%;
    height: 30px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    padding-left: 20%; 
}
.puntitos{
    justify-content: center;
    display: flex;
}
.Barra4{
    display: flex;
    justify-content: center; 
}
@media (max-width: 768px) {
    .inicial, .examen {
        width: 45%; 
        min-width: 200px; 
    }

    .inicial h4, .examen h4 {
        font-size: 0.9rem; 
    }

    .inicial p, .examen p {
        font-size: 0.8rem; 
    }
}

@media (max-width: 480px) {
    .inicial, .examen {
        width: 90%; 
        min-width: 150px; 
    }

    .inicial h4, .examen h4 {
        font-size: 0.8rem; 
    }

    .inicial p, .examen p {
        font-size: 0.7rem; 
    }
}


/*NIVEL ASIGNADO*/
.asignado {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.intermedio {
    background-color: #FF5C00;
    opacity: 75%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    border: none;
    width: 30%;
    height: fit-content;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0.5% 0; 
    box-sizing: border-box; 
}

.medio a {
    text-decoration: none;
}

.Barra5 {
    display: flex;
    justify-content: center;
    margin: 2rem 0; 
}

@media (max-width: 768px) {
    .intermedio {
        width: 70%; 
        font-size: 1rem; 
        padding: 1% 0; 
    }

    .asignado img {
        width: 80%; 
        max-width: 300px; 
    }
}
/*RUBRO A ELECCION*/
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.rubro {
    background-color: #FF5C00;
    opacity: 95%;
    text-align: center;
    width: 40%;
    padding: 2.5% 5%;
    font-family: sans-serif;
    color: white;
    margin: 2rem auto; 
    border-radius: 26px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; 
}

.rub {
    border-radius: 12px;
    border: none;
    background-color: white;
    width: 100%;
    height: auto; 
    text-align: center;
    color: #FF5C00;
    font-size: 1rem;
    font-weight: bold;
    margin: 2%;
    padding: 1%;
    box-sizing: border-box; 
}

.rub:active, .rub:visited {
    background-color: #FF5C00;
    color: white;
}

@media (max-width: 768px) {
    .rubro {
        width: 80%; 
    }

    .rub {
        font-size: 0.9rem; 
        padding: 1.5%; 
    }
}


/*BARRA DE NAVEGACIÓN*/

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15%; 
    padding: 1rem;
    background-color: #ffffff;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #460175;
    margin: 2rem 0 1rem 0;
    text-align: center;
    width: 100%;
}

.nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #460175;
    margin: 1rem 0;
    font-size: 1rem;
    width: 100%;
    padding-left: 1rem;
    margin-top: 10%;
}

.nav a img {
    margin-right: 0.5rem;
    display: inline-block;
}

.nav a.active {
    font-weight: bold;
    color: #2d003f;
}

@media (max-width: 768px) {
    
    .nav a span {
        display: none;
    }
.nav h2{
    font-size: 1rem;
    margin-right: 50%;
    margin-left: 0;
}
    
    .nav a img {
        margin-right: 0; 
        width: 30px; 
        height: auto; 
        margin-left: 25%;
    

    }
    .nav {
        width: 15%; 
    }
}


/*INICIO*/

.inicio {
    margin-left: 25%; 
    padding: 1rem;
}

.inicio section {
    margin-bottom: 2rem; 
}

/*TODO*/
.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start; 
    margin-left: 25%; 
    gap: 20px; 
}
/* nivel1 and nivel2 */
.nivel1, .nivel2 {
    flex: 1; 
    max-width: 50%; 
    background-color: #BE26A4;
    color: white;
    padding: 2rem;
    margin-top: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    clear: left;
}
.nivel3 {
    flex: 1; 
    max-width: 50%; 
    background-color: #2690BE;
    color: white;
    padding: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    clear: left;
}

.nivel2 {
    background-color: #2690BE;
}


.gris {
    color: #7D7979;
    font-size: 16px;
}

/* EJERCICIOS */

.ejercicios3 {
    margin-bottom: 20px;
}
.ejercicios .seis, .ejercicios .doce,
.ejercicios .dieciocho, .ejercicios .veinticuatro,
.ejercicios3 .veintiuno, .ejercicios3 .veintidos {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row; 
    gap: 1rem;
}
.ejercicios3 .veintiuno img, .ejercicios3 .veintidos img {
    width: 100%;
}
.ejercicios1 .seis img, .ejercicios1 .doce img,
.ejercicios2 .dieciocho img, .ejercicios2 .veinticuatro img {
    width: 200px;
}

.gris {
    color: #888; 
    font-style: italic;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .ejercicios .seis, .ejercicios .doce,
    .ejercicios3 .veintiuno, .ejercicios3 .veintidos {
        flex-wrap: nowrap;
    }
}

@media (max-width: 768px) {
    .ejercicios .seis, .ejercicios .doce,
    .ejercicios .dieciocho, .ejercicios .veinticuatro,
    .ejercicios3 .veintiuno, .ejercicios3 .veintidos {
        flex-direction: row;
        align-items: center;
    }

    .ejercicios .seis img, .ejercicios .doce img,
    .ejercicios .dieciocho img, .ejercicios .veinticuatro img,
    .ejercicios3 .dieciocho img, .ejercicios3 .veinticuatro img {
        max-width: 100px; 
    }
}

/*BOTON MAS EJERCICIOS*/ 
#cargar-lecciones{
    width: auto; 
    padding: 1%; 
    background-color: #41016e;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left; 
    text-transform: uppercase;
    margin-top: 20px;
}

.contact-form button:hover {
    background-color: #6501a1;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
   #cargar-lecciones{
    font-size:16px;
    padding: 2%;
   }
}



/* ASIDE */
aside {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 30px;
        float: right;
        margin-left: 4%;
        margin-right: 2%;
        width: 20%;
}

aside .desafiosd,
aside .mejora {
    background-color: white;
    border-color: #460175;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    width: 100%;
    overflow: hidden;
}

aside .desafiosd h2,
aside .mejora h2 {
    color: #1D1C1C;
}

aside .desafiosd a,
aside .mejora p {
    color: #460175;
    text-decoration: none;
}
aside .desafiosd a{
    font-size: 1rem;
    font-weight: bold;
}

aside .desafiosd img {
    width: 100%;
}
aside .mejora img {
    width: 100%;
}

@media (max-width: 480px) {
    .nav {
        width: 100%; 
        height: auto; 
        position: static; 
    }

   .inicio {
        margin-left: 0;
    }
}


@media (max-width: 768px) {
    .todo {
        flex-direction: column; 
        margin-left: 0; 
    }

    .nivel1, .nivel2, aside {
        width: 100%; 
        margin-right: 0;
        clear: both;
    }

    aside {
        order: -1; 
        width: 60%;
        align-items: left;
        float: left;
        margin-left:35%;
    }
    aside .desafiosd,
aside .mejora {
    margin-right: 2.5%;
}
}

/*PERFIL*/
.perfiltodo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 25%;
    gap: 20px;
}

.miperfil {
    font-family: sans-serif;
    margin-top: 30px;
}

.miperfil img {
    margin-left: 25%;
}

.nombre{
    margin-left: 25%;
    font-size: 1.5rem;
    font-family: sans-serif;
}
.logra{
    margin-left: 25%;
    font-size: 1.5rem;
    font-family: sans-serif;
}
.miperfil p {
    text-align: left; 
    margin-left: 25%;
}
.logros p {
    margin: 0%;
}

.logros p {
    color: white;
}

.usa {
    display: flex;
    justify-content: flex-start;
}
.usa img {
    width: 20%;
    padding-left: 200%;
}
.logros {
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.logro1, .logro2, .logro3 {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    max-width: 60%;
    padding: 2rem;
    margin-top: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    clear: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 35%;
}

.logro1 {
    background-color: #BE26A4;
    color: white;
}

.logro2 {
    background-color: #2690BE;
    color: white;
}

.logro3 {
    background-color: cadetblue;
    color: white;
}

/* SIDE */
.practicas {
    background-color: white;
    border-color: #460175;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.practicas p {
    color: #6C6C6C;
}

.juan, .juana, .andina {
    border-radius: 19px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
}
@media(max-width:1400px){
    .miperfile{
        width: 50%;
        margin-left: 10%;
    }
    .miperfile img {
        width: 100%;
    }
    .usa img {
        width: 20%;
        padding-left: 27%;
    }
    
}
@media (max-width: 768px) {

    .nombre{
        margin-left:0;
        font-size: 1.5rem;
        font-family: sans-serif;
    }
    .logra{
        margin-left: 25%;
        font-size: 1.5rem;
        font-family: sans-serif;
    }
    .miperfile{
        width: 75%;
        margin-left: 5%;
    }

    .miperfil img {
        margin-left: 25%;
        width: 100%;
    }

    .usa img {
        width: 20%;
        padding-left: 50%;
    }

    .usa {
        flex-direction: row;
        align-items:flex-start;
        padding-right: 0;
        margin-left: 25%;
        margin-right: 0%;
    }

    .logros {
        align-items: center;
        justify-content: flex-start;
    }

    .logro1, .logro2, .logro3 {
        flex: 1;
        width: 100%;
        padding: 1rem;
        margin-left: 10%;
    }

    .practicas {
        width: 100%;
        padding: 5%;
        margin-bottom: 10%;
    }

    .juan, .juana, .andina {
        width: 80%;
        padding: 5%;
    }

    .logros p {
        text-align: left; 
    }
}

/*PRACTICAS*/
/*MAIN*/
.practicamain {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start; 
    margin-left: 25%; 
    gap: 20px; 
}
.practica img {
    width: 100%;
}
.pratice {
    flex: 1; 
    max-width: 50%; 
    padding: 2rem;
    margin-top: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    clear: left;
}


.practica{
    font-family: sans-serif;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
    .practica h2 {
        margin-bottom: 20px;
        color: #1D1C1C;
    }

.JuanM, .JuanaD, .AndinaG {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%; 
    padding: 2rem;
    margin-top: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    clear: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

/*ASIDE*/
aside .desafiosdia,
aside .aprendess,
aside .desafiosm {
    background-color: white;
    border-color: #460175;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    width: 100%;
    overflow: hidden;
}

.desafiosdia a {
    text-decoration: none;
    color: #460175;
    font-size: 1rem;
    font-weight: bold;
}

.aprendess p{
    color: #978E8E;
    font-weight: bold;
}
aside .desafiosdia img {
    width: 100%;
}
aside .desafiosm img {
    width: 100%;
}
.aprendess img{
  float: right;
  width: 50%;
}

.desafiosm p {
    color: #978E8E;
    font-weight: bold;
}

@media (max-width: 768px) {
    
    #practicatodo {
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        align-items: center;
    }

    aside {
        order: -1;
        width: 50%; 
    }

    .practica {
        order: 2;
        width: 100%; 
        padding: 1rem;
        clear: both;
    }

    aside .desafiosdia,
    aside .aprendess,
    aside .desafiosm {
        margin-right: 0;
        padding: 2rem;
    }

    .practica img {
        width: 100%;
        margin-right: 0;
    }

    .pratice {
        flex: 1;
        clear: both;
        width: 100%;
    }

    .JuanM, .JuanaD, .AndinaG {
        flex: 1;
        width: 100%;
        padding: 1rem;
    }
}

/*DESAFIOS*/

.def {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.desafioss img {
    width: 100%; 
}

.desafioss {
    display: flex;
    flex-direction: column; 
    margin-left: 25%; 
    gap: 20px; 
    margin-top: 30px;
}

.desafiosmes {
    background-color: white;
    border-color: #460175;
    padding: 20px; 
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}


.desafiosmes p {
    color: #978E8E;
    font-weight: bold;
}

.desafiosmes img {
    float: right;
    width: 50%; 
}

@media (max-width: 768px) {
    .def {
        flex-direction: column; 
        align-items: center; 
    }

    .desafioss {
        margin-left: 25%; 
        gap: 10px;
        order: 2;
        width: 70%; 
        padding: 1rem;
        clear: both;
    }

    .desafiosmes {
        width: 100%; 
        padding: 5%; 
        margin-bottom: 5%;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
    }
    .desafiosmes p {
       font-size: 0.9rem;
    }
    
    .desafiosmes img {
        width: 50%; 
        float: none; 
        margin-top: 10px; 
    }
}


/*SELECCIÓN*/

#respuesta li.active {
    background-color: #9800AB; 
    color: white; 
}

/* Para los botones en rubro.html */
.rub.active {
    background-color: hsl(19, 100%, 34%); 
    color: white; 
}

/* Para los botones en objetivo.html */
.obje.active {
    background-color: #9800AB; 
    color: white; 
}

/* Pantalla de carga */
#pantalla-carga {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(240, 203, 243, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Spinner o círculo de carga */
.spinner {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #9800AB;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.progress-container {
    width: 60%; 
    background-color: #e0e0e0; 
    border-radius: 20px;
    margin: 20px auto; 
    height: 20px;
    position: relative;
}

.progress-bar {
    width: 0%; 
    height: 100%;
    background-color: #BE26A4;
    border-radius: 20px;
    transition: width 0.5s ease; 
}



/* Ejercicios */

#respuesta{
    font-family: sans-serif;  
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.exam p {
    font-family: sans-serif;
    font-size: 1rem;
    color: #9800AB;  
}
#pregunta{
    font-weight: bold;
    font-size: 1.25rem;
    color: #9800AB;
    font-family: sans-serif;
}
#respuesta li {
    margin-bottom: 10px; 
    cursor: pointer; 
    background-color: white;
    border-radius: 12px;
    width: 60%;
    height: 57px;
    align-content: center;
    text-align: center;
    color: #9800AB;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    list-style: none;
}
#respuesta li:hover{
    background-color: #9800AB;
    color: white;
}

.answers button {
    border-radius: 12px;
    border: none;
    background-color: #460275;
    opacity: 75%;
    width: 60%;
    height: 30px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    padding-left: 20%; 
}
.arriba {
    max-width: 55%; 
    background-color: #BE26A4;
    color: white;
    padding: 2rem;
    margin: 20px auto; 
    border-radius: 20px;
    text-align: center; 
}
.Logo {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px; 
}

.Logo a {
    text-decoration: none; 
    color: #9800AB; 
}

.Logo h2 {
    font-size: 2rem; 
    font-weight: bold; 
    font-family: sans-serif; 
}

/*FORMULARIO MAIL */
.contact-form {
    padding: 20px;
    max-width: 500px; 
    margin: 0; 
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

.contact-form h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
    text-align: left; 
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
    text-align: left; 
}

.contact-form input,
.contact-form textarea {
    width: 100%; 
    padding: 10px; 
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; 
    margin-bottom: 10px; 
    text-align: left; 
}

.contact-form textarea {
    resize: none; 
    height: 80px; 
}

.contact-form button {
    width: auto; 
    padding: 10px 20px; 
    background-color: #41016e;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left; 
    text-transform: uppercase;
}

.contact-form button:hover {
    background-color: #6501a1;
    transition: background-color 0.3s ease;
}

/* Diseño responsivo */
@media (max-width: 600px) {
    .contact-form {
        max-width: 90%; 
        padding: 15px;
    }

    .contact-form h2 {
        font-size: 1.2rem; 
    }

    .contact-form input,
    .contact-form textarea,
    .contact-form button {
        font-size: 0.9rem; 
        padding: 10px;
    }
}
